/* callouts from Bootstrap docs */
.bs-callout{margin:20px 0;padding:20px;border-left:3px solid #eee}
.bs-callout h4{margin-top:0;margin-bottom:5px}
.bs-callout p:last-child{margin-bottom:0}
.bs-callout code{background-color:#fff;border-radius:3px}
.bs-callout-danger{background-color:#fdf7f7;border-color:#d9534f}
.bs-callout-danger h4{color:#d9534f}
.bs-callout-warning{background-color:#fcf8f2;border-color:#f0ad4e}
.bs-callout-warning h4{color:#f0ad4e}
.bs-callout-info{background-color:#f4f8fa;border-color:#5bc0de}
.bs-callout-info h4{color:#5bc0de}

/* Bootstrap carousel */
.carousel { height: 550px; margin-bottom: 60px; }
.carousel-caption { z-index: 10; }
.carousel .item { height: 550px; background-color: #777; }
.carousel-inner > .item > img {
   display: block; margin-left: auto; margin-right: auto; height: 400px;
}


/* Github forkme banner */
#forkme_banner {
display: block;
position: absolute;
top: 51px;
right: 10px;
z-index: 100;
padding: 10px 50px 10px 10px;
color: #FFF;
background: url("../images/blacktocat.png") no-repeat scroll 95% 50% #0090FF;
font-weight: 700;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
}
