#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.opendb
_ReSharper*/
[Tt]est[Rr]esult*
obj/
bin/

#Ignore project folders
bin/
intermediate/
lib/
stuff/
src/ipch/

#Ignore unnecessary SDK files
src/Thirdparty/CDSDK/Doc/
src/Thirdparty/CDSDK/install/
src/Thirdparty/CDSDK/Sample/
src/Thirdparty/CDSDK/Samples/
src/Thirdparty/EDSDK/Dll/icc/
src/Thirdparty/EDSDK/Document/
src/Thirdparty/PSREC/Doc/
src/Thirdparty/PSREC/Sample/

#Ignore generated ribbon files
src/RemotePhotoTool/res/MainFrameRibbon.bml
src/RemotePhotoTool/res/MainFrameRibbon.h
src/RemotePhotoTool/res/MainFrameRibbon.rc
src/cppcheck/cppcheck.txt
src/RemoteScriptingEditor/res/Ribbon.bml
src/RemoteScriptingEditor/res/Ribbon.h
src/RemoteScriptingEditor/res/Ribbon.rc

#Ignore Coverity Self-Scan files/folders
src/cov-int/
src/cov-int.zip
