#
# RemotePhotoTool - remote camera control software
# Copyright (c) 2008-2026 Michael Fink
#
# AppVeyor build configuration file
#
version: 1.7.1.{build}

image: Visual Studio 2026

platform: Win32

configuration: AppVeyor

cache:
  - C:\Users\appveyor\AppData\Local\vcpkg\archives -> appveyor.yml
  - C:\projects\remotephototool\intermediate\vcpkg_installed -> appveyor.yml

before_build:
  - ps: src\Patch-BuildVersion.ps1 -version $env:appveyor_build_version
  - cmd: nuget restore src\RemotePhotoTool.slnx
  - cmd: |
      cd "C:\Tools\vcpkg"
      git pull > nul
      call .\bootstrap-vcpkg.bat -disableMetrics

build:
  project: src\RemotePhotoTool.slnx
  parallel: true
  verbosity: minimal

after_build:
  - cmd: |
      cd %APPVEYOR_BUILD_FOLDER%\bin\Release
      "c:\Program Files\7-Zip\7z.exe" a -r -x!*.pdb -x!*.exp -x!*.lib -x!*.lastcodeanalysissucceeded ..\..\RemotePhotoTool-%appveyor_build_version%.zip *.*

artifacts:
- path: RemotePhotoTool-*.zip
  name: RemotePhotoTool Build Zip Archive
