<?xml version='1.0'?>
<!--

  RemotePhotoTool - remote camera control software
  Copyright (C) 2008-2020 Michael Fink

  MainAppFiles.wxs - Main application file components (fragment)

-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include Config.wxi ?>

  <Fragment>
    <ComponentGroup Id="MainAppFiles">

      <Component Id="RemotePhotoToolExe" Guid="*" Directory="INSTALLDIR">
        <File Id="RemotePhotoToolExe" Name="RemotePhotoTool.exe" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)\RemotePhotoTool.exe" />
      </Component>

      <Component Id="RemoteScriptingEditorExe" Guid="*" Directory="INSTALLDIR">
        <File Id="RemoteScriptingEditorExe" Name="RemoteScriptingEditor.exe" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)\RemoteScriptingEditor.exe" />
      </Component>

      <Component Id="MainAppShortcut" Guid="*" Directory="MainAppShortcutFolder">
        <Shortcut Id="RemotePhotoToolShortcut"
           Name="$(var.ProductName)"
           Description="Starts $(var.ProductName)"
           Target="[INSTALLDIR]RemotePhotoTool.exe"
           WorkingDirectory="INSTALLDIR"/>
        <RemoveFolder Id="MainAppShortcutFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\$(var.ProductName)" Name="Installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>

      <Component Id="LuaDll" Guid="*" Directory="INSTALLDIR">
        <File Id="LuaDll" Name="lua.dll" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)\lua.dll" />
      </Component>

      <Component Id="LibExifDll" Guid="*" Directory="INSTALLDIR">
        <File Id="LibExifDll" Name="libexif.dll" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)\libexif.dll" />
      </Component>

      <Component Id="LibWdiDll" Guid="*" Directory="INSTALLDIR">
        <File Id="LibWdiDll" Name="libwdi.dll" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)\libwdi.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="CmdLineAppFiles">
      <Component Id="CanonEosShutterCount" Guid="*" Directory="INSTALLDIR">
        <File Id="CanonEosShutterCount" Name="CanonEOSShutterCount.exe" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)CanonEOSShutterCount.exe" />
      </Component>
      <Component Id="RemotePhotoToolCmdline" Guid="*" Directory="INSTALLDIR">
        <File Id="RemotePhotoToolCmdline" Name="RemotePhotoToolCmdline.exe" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)RemotePhotoToolCmdline.exe" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ScintillaFiles">
      <Component Id="SciLexerDll" Guid="*" Directory="INSTALLDIR">
        <File Id="SciLexerDll" Name="SciLexer.dll" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)\SciLexer.dll" />
        <File Id="LuaProperties" Name="lua.properties" DiskId="1" KeyPath="no" Source="$(var.BinaryFolder)\lua.properties" />
      </Component>
    </ComponentGroup>

  </Fragment>
</Wix>
