<?xml version='1.0'?>
<!--

  RemotePhotoTool - remote camera control software
  Copyright (C) 2008-2020 Michael Fink

  RemotePhotoTool.wxs - RemotePhotoTool setup package

-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include Config.wxi ?>

  <Product Id="*"
     UpgradeCode="$(var.UpgradeCode)"
     Name="$(var.ProductName)"
     Language="1033"
     Version="$(var.Version)"
     Manufacturer="Michael Fink">

    <Package Id="*"
       Description="$(var.ProductNameVersion) Setup"
       Comments="This installs $(var.ProductNameVersion)"
       Manufacturer="Michael Fink"
       InstallerVersion="405"
       InstallPrivileges="elevated"
       InstallScope="perMachine"
       AdminImage="no"
       Compressed="yes"
       ShortNames="no"
       Languages="1033"
       Keywords="$(var.ProductName) Canon Camera Remote Capture Lua Scripting"
       SummaryCodepage="1252"
       Platform="x86" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Merge Id="VCRedist" SourceFile="$(env.ProgramFiles(x86))\Microsoft Visual Studio\2019\Community\VC\Redist\MSVC\14.25.28508\MergeModules\Microsoft_VC142_CRT_x86.msm" DiskId="1" Language="0" />
      <Directory Id="ProgramFilesFolder">
        <Directory Id="MainAppFolder" Name="$(var.ProductName)">
          <Directory Id="INSTALLDIR" Name=".">
            <Directory Id="Camlibs" Name="camlibs" />
            <Directory Id="Iolibs" Name="iolibs" />
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="MainAppShortcutFolder" Name="$(var.ProductName)"/>
      </Directory>
    </Directory>

    <Feature Id="MainApp" Title="$(var.ProductName) Application"
       Description="Installs the $(var.ProductName) application." Level="1"
       AllowAdvertise="no" TypicalDefault="install" ConfigurableDirectory="INSTALLDIR">
      <ComponentGroupRef Id="MainAppFiles" />
      <ComponentGroupRef Id="CmdLineAppFiles" />
      <ComponentGroupRef Id="EdsdkFiles" />
      <ComponentGroupRef Id="PsrecFiles" />
      <ComponentGroupRef Id="CdsdkFiles" />
      <ComponentGroupRef Id="gPhoto2Files" />
      <ComponentGroupRef Id="ScintillaFiles" />
    </Feature>

    <Feature Id="VCRedist" Title="Visual C++ 2019 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
      <MergeRef Id="VCRedist"/>
    </Feature>

    <!-- custom actions to register/unregister WIA handler -->

    <CustomAction Id="RegisterWIAEvent"
                  FileKey="RemotePhotoToolExe" ExeCommand="--register-wia"
                  Execute="deferred" Return="ignore"
                  HideTarget="no" Impersonate="no" />
    <CustomAction Id="UnregisterWIAEvent"
                  FileKey="RemotePhotoToolExe" ExeCommand="--unregister-wia"
                  Execute="deferred" Return="ignore"
                  HideTarget="no" Impersonate="no" />

    <UI>
      <ProgressText Action="RegisterWIAEvent">Registering Auto-Play handler</ProgressText>
      <ProgressText Action="UnregisterWIAEvent">Unregistering Auto-Play handler</ProgressText>
    </UI>

    <InstallExecuteSequence>
      <Custom Action="RegisterWIAEvent" Before="InstallFinalize">NOT Installed</Custom>
      <Custom Action="UnregisterWIAEvent" After="InstallInitialize">Installed AND NOT UPGRADINGPRODUCTCODE</Custom>
    </InstallExecuteSequence>

    <!-- common properties -->

    <Property Id="ARPURLINFOABOUT"><![CDATA[https://vividos.github.io/RemotePhotoTool/]]></Property>
    <Property Id="ARPCOMMENTS"><![CDATA[For more information, please visit https://vividos.github.io/RemotePhotoTool/]]></Property>
    <Property Id="ARPHELPLINK" Value="https://vividos.github.io/RemotePhotoTool/" />

    <Icon Id="RemotePhotoToolIcon" SourceFile="$(var.SourceFolder)\RemotePhotoTool\res\RemotePhotoTool.ico"/>
    <Property Id="ARPPRODUCTICON" Value="RemotePhotoToolIcon" />

    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="MainAppFolder" />

    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

    <UI>
      <ProgressText Action="ExecuteAction">System is being prepared for setup...</ProgressText>
      <ProgressText Action="InstallInitialize">Setup is being initialized...</ProgressText>
    </UI>

  </Product>

</Wix>
