<?xml version='1.0'?>
<!--

  RemotePhotoTool - remote camera control software
  Copyright (C) 2008-2019 Michael Fink

  SdkFiles.wxs - Thirdparty SDK file components (fragment)

-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Config.wxi ?>
  <Fragment>
    <!-- ***************************************** -->
    <ComponentGroup Id="EdsdkFiles">
      <Component Id="EdsdkDll" Guid="*" Directory="INSTALLDIR">
        <File Id="EdsdkDll" Name="EDSDK.dll" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)\EDSDK.dll" />
      </Component>

      <Component Id="Edsdk25Dll" Guid="*" Directory="INSTALLDIR">
        <File Id="Edsdk25Dll" Name="EDSDK_25.dll" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)\EDSDK_25.dll" />
      </Component>

      <Component Id="EdsimageDll" Guid="*" Directory="INSTALLDIR">
        <File Id="EdsimageDll" Name="EdsImage.dll" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)\EdsImage.dll" />
      </Component>
    </ComponentGroup>
    <!-- ***************************************** -->

    <ComponentGroup Id="PsrecFiles">
      <Component Id="PrsdkDll" Guid="*" Directory="INSTALLDIR">
        <File Id="PrsdkDll" Name="PRSDK.dll" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)\PRSDK.dll" />
      </Component>

      <Component Id="PrlibDll" Guid="*" Directory="INSTALLDIR">
        <File Id="PrlibDll" Name="PRLIB.dll" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)\PRLIB.dll" />
      </Component>
    </ComponentGroup>
    <!-- ***************************************** -->

    <ComponentGroup Id="CdsdkFiles">
      <Component Id="CDPROCMN.exe" Guid="*" Directory="INSTALLDIR">
        <File Id="CDPROCMN.exe" Name="CDPROCMN.exe" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)\CDPROCMN.exe" />
      </Component>
      <Component Id="CDPTPCLS.dll" Guid="*" Directory="INSTALLDIR">
        <File Id="CDPTPCLS.dll" Name="CDPTPCLS.dll" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)\CDPTPCLS.dll" />
      </Component>
      <Component Id="CDPTPCLT.dll" Guid="*" Directory="INSTALLDIR">
        <File Id="CDPTPCLT.dll" Name="CDPTPCLT.dll" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)\CDPTPCLT.dll" />
      </Component>
      <Component Id="CDRAPCLS.dll" Guid="*" Directory="INSTALLDIR">
        <File Id="CDRAPCLS.dll" Name="CDRAPCLS.dll" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)\CDRAPCLS.dll" />
      </Component>
      <Component Id="CDSDK.dll" Guid="*" Directory="INSTALLDIR">
        <File Id="CDSDK.dll" Name="CDSDK.dll" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)\CDSDK.dll" />
      </Component>
      <Component Id="EWatch.exe" Guid="*" Directory="INSTALLDIR">
        <File Id="EWatch.exe" Name="EWatch.exe" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)\EWatch.exe" />
      </Component>
      <Component Id="GetPicture.exe" Guid="*" Directory="INSTALLDIR">
        <File Id="GetPicture.exe" Name="GetPicture.exe" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)\GetPicture.exe" />
      </Component>
      <Component Id="IWrap.dll" Guid="*" Directory="INSTALLDIR">
        <File Id="IWrap.dll" Name="IWrap.dll" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)\IWrap.dll" />
      </Component>
      <Component Id="psCamDat.dll" Guid="*" Directory="INSTALLDIR">
        <File Id="psCamDat.dll" Name="psCamDat.dll" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)\psCamDat.dll" />
      </Component>
      <Component Id="cdDcd.dll" Guid="*" Directory="INSTALLDIR">
        <File Id="cdDcd.dll" Name="cdDcd.dll" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)\cdDcd.dll" />
      </Component>
      <Component Id="cdDvlp.dll" Guid="*" Directory="INSTALLDIR">
        <File Id="cdDvlp.dll" Name="cdDvlp.dll" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)\cdDvlp.dll" />
      </Component>
      <Component Id="cdParse.dll" Guid="*" Directory="INSTALLDIR">
        <File Id="cdParse.dll" Name="cdParse.dll" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)\cdParse.dll" />
      </Component>
      <Component Id="CDPROC.exe" Guid="*" Directory="INSTALLDIR">
        <File Id="CDPROC.exe" Name="CDPROC.exe" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)\CDPROC.exe" />
      </Component>
    </ComponentGroup>
    <!-- ***************************************** -->

    <ComponentGroup Id="gPhoto2Files">
      <Component Id="Libgphoto2Dll" Guid="*" Directory="INSTALLDIR">
        <File Id="Libgphoto2Dll" Name="libgphoto2.dll" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)\libgphoto2.dll" />
      </Component>

      <Component Id="Libgphoto2PortDll" Guid="*" Directory="INSTALLDIR">
        <File Id="Libgphoto2PortDll" Name="libgphoto2_port.dll" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)\libgphoto2_port.dll" />
      </Component>

      <Component Id="CamlibsCanonDll" Guid="*" Directory="Camlibs">
        <File Id="CamlibsCanonDll" Name="canon.dll" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)\camlibs\canon.dll" />
      </Component>

      <Component Id="CamlibsPtp2Dll" Guid="*" Directory="Camlibs">
        <File Id="CamlibsPtp2Dll" Name="ptp2.dll" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)\camlibs\ptp2.dll" />
      </Component>

      <Component Id="IolibsDiskDll" Guid="*" Directory="Iolibs">
        <File Id="IolibsDiskDll" Name="disk.dll" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)\iolibs\disk.dll" />
      </Component>

      <Component Id="IolibsLibusb10Dll" Guid="*" Directory="INSTALLDIR">
        <File Id="IolibsLibusb10Dll" Name="libusb-1.0.dll" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)\libusb-1.0.dll" />
      </Component>

      <Component Id="IolibsLibusb1Dll" Guid="*" Directory="Iolibs">
        <File Id="IolibsLibusb1Dll" Name="libusb1.dll" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)\iolibs\libusb1.dll" />
      </Component>

      <Component Id="IolibsPtpipDll" Guid="*" Directory="Iolibs">
        <File Id="IolibsPtpipDll" Name="ptpip.dll" DiskId="1" KeyPath="yes" Source="$(var.BinaryFolder)\iolibs\ptpip.dll" />
      </Component>

    </ComponentGroup>
    <!-- ***************************************** -->

  </Fragment>
</Wix>
